body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fafafa;
	overflow-y: hidden;

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}


.container{
	display: flex;

}

#app-holder{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: calc(100vh);
    margin-left: calc(100vw - 100%);
    margin-right: 0;

    background-color: #fafafa;
    height: 100vh;


}


#content-holder{
	height: 100vh;

	display: flex; 
	width: 922px;
}


/* HEADER ================= */
header{
	background-color: #00A9A5;
	border-bottom: solid 1px #00A9A5;
	height: 44px;

	-webkit-transition: height 200ms ease-in;
  		transition: height 200ms ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

	z-index: 400;
	position: fixed;
	top: 0;
	width: 100%;
}

nav {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 900px;
    margin: auto;
    height: 44px;
 }

 .logo{
 	color: white;
 	width: 30px;
 	height: 30px;
 }

/* SIDEBAR ================= */

.sidebar{
	padding: 70px 00px 0px 0px;
	width: 266px;
	background-color: #fafafa;
	border-right: 1px solid #f1f1f1;
	height: calc(100vh);


}
.sidebar span{
	font-size: 0.95rem;
}

.sidebar ul{
	padding: 0px;
}


.list-item{
	border-radius: 3px;
	padding: 7px 7px 7px 7px;
	list-style-type: none;
	transition: color .1s ease-in,background-color .1s ease-in;
}

.list-item:hover{
	background-color: white;

}

.list-icon{
	
	margin-right: 15px;
}

#inbox{
	color: #246fe0;
}

#today{
	color: #058527;
}

#next7days{
	color: #692fc2;
}

.project-header{

	padding-left: 5px;
	color: #333;
	font-size: 15px;
	font-weight: 600;
	padding-bottom: 20px;
}

.project-header span{
	margin-right: 10px;
}


/* TASKS ================= */

.plus{
	width: 16px;
	height: 16px;
}

.tasks{
	padding: 70px;
	width: calc(100% - 200px); 
	background-color: white;
	border-right: 1px solid #f1f1f1;

	flex: 1 1 auto;
    overflow: auto;

}

.tasks::-webkit-scrollbar {
  display: none;
}
.checkbox-holder{
	margin-right: 20px; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	line-height: 16px;
    transition: opacity 150ms ease-in


}

.checkbox {
	cursor: pointer;
	border-color: gray;
	color: #343434;
	height: 18px;
	width: 18px;
	display: block;
	border: 1px solid gray;
	border-radius: 16px;

	margin-right: 20px;
}

.task-content{
	
}

.task-list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;

}


.task-list li{
	 display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;

}

.task-name{
	font-weight: 500;
}

.plus{
	color: #00A9A5;
	
}

.plus-svg{
	margin-right: 20px;
	width: 20px;
	height: 20px;
	color: #00A9A5;
	border-radius: 16px;
}

.addTask{
	color: gray;
	font-size: 14px;
}

.add-task-holder{
	list-style-type: none;
    padding: 0;
    margin: 0px !important;
}

.add-task-holder li{
 	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #333;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    list-style-type: none;
}

.add-task-holder li:hover{
	cursor: pointer;
}

.add-task-holder li:hover .plus-svg{
	background-color: #00A9A5;
	color: white;
}

.add-task-holder li:hover .addTask{
	color: #00A9A5;
}

.add-task{
	margin-top: 5px;
}

.inputTask{
	width: 100%;
	border: 1px solid #ddd;
	background-color: white !important;
	border-radius: 3px;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
}

.add-task-submit{
	font-size: 13px;
	font-weight: bold;
	color: white;
	background-color: #00A9A5;
	border: 1px solid #00A9A5;
	border-radius: 4px;
	padding: 6px 12px 7px 12px;
	margin-right: 10px;
}

.add-task-cancel{
	color: #555;
	font-size: 13px;
}