body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}


.container{
	display: flex;
}


/* HEADER ================= */
header{
	background-color: #00A9A5;
	border-bottom: solid 1px #00A9A5;
	height: 60px;

	-webkit-transition: height 200ms ease-in;
  		transition: height 200ms ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

	z-index: 400;
	position: fixed;
	top: 0;
	width: 100%;
}

nav {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 922px;
    margin: auto;
    height: 65px;
 }

 .logo{
 	color: white;
 	width: 30px;
 	height: 30px;
 }

/* SIDEBAR ================= */

.sidebar{
	padding: 70px 00px 0px 50px;
	width: 500px;
	background-color: #fafafa;
	height: calc(100vh);
}

.list-item{

	padding: 10px;
	list-style-type: none;
}

.list-item:hover{
	background-color: white;
}

.list-icon{
	
	margin-right: 15px;
}



.project-header{

	padding-left: 60px;
	color: #333;
	font-size: 15px;
	font-weight: 600;
	padding-bottom: 20px;
}

.project-header span{
	margin-right: 10px;
}


/* TASKS ================= */

.tasks{
	padding: 70px;
	width: calc(100% - 200px); 
}
.checkbox-holder{
	margin-right: 20px; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	line-height: 16px;

}

.checkbox {
	cursor: pointer;
	border-color: gray;
	color: #343434;
	height: 13px;
	width: 13px;
	display: block;
	border: 1px solid gray;
	border-radius: 16px;

	margin-right: 20px;
}

.task-content{
	
}

.task-list{
    list-style-type: none;
    padding: 0;

}

.task-list li{
	 display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
}

.task-name{
	font-weight: 500;
}